

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2;
}

.image-container {
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.image-container2 {
  padding-left: 1.2em;
  padding-top: 1em;
}
.header-text {
  text-align: center;
}

.image-circle {
  height: 120px;
  width: 120px;
  background-color: #D1F2EB;
  border-radius: 50%;
}

.header-design {
  width: 60%;
  height: 100px;
  border-top-width: 200px;
  background: #1ABC9C;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
    
}


