@import url('https://fonts.googleapis.com/css?family=Monteserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5ebeb;
}

h2 {
    font: 2em sans-serif;
    align-self: center;
    color: white;
    outline: black;
    letter-spacing: 3px;
}

.home-bar {
    width: 80%;
    background: #4bbfb9;
    padding: 1.5em 0 .5em 0;
    margin-left: 10%;
    text-align: center;
    border-bottom-left-radius: 92px;
    border-bottom-right-radius: 92px;
}

.home-bar::before{
    content: "";
    width: 10%;
    height: 10%;
    background-color: #4bbfb9;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.home-bar::after{
    content: "";
    width: 10%;
    height: 10%;
    background-color: #f5ebeb;
    border-top-right-radius: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.home-bar-right::before{
    content: "";
    width: 10%;
    height: 10%;
    background-color: #4bbfb9;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: -1;
}

.home-bar-right::after{
    content: "";
    width: 10%;
    height: 10%;
    background-color: #f5ebeb;
    border-top-left-radius: 40px;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 0;
}

#PIcon{
    position: absolute;
    left: .5%;
    top: 1%;
    z-index: 1;
}

#HIcon{
    position: absolute;
    right: 0%;
    top: .1%;
    z-index: 1;
}


.progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    border-top-left-radius: 92px;
    border-top-right-radius: 92px;
    background-color: #4bbfb9;
}

.progress-button {
    position: absolute;
    left: 6em;
    top: 1em;
    width: 6em;
    height: 1.3em;
    background-color:#9feed4;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:10px;
	border:1.5px solid #0f859c;
	display:inline-block;
	color:#000000;
	font-family:"Montserrat", sans-serif;
    font-size:26px;
    text-align: center;
    letter-spacing: 3px;
    white-space: nowrap;
    cursor: pointer;
}

.progress-bar-container {
    box-sizing:border-box;
    position: absolute;
    left: 25em;
    top: 1.8em;
    width: 70%;
    height: 35px;
    border-radius: 10px;
    z-index: 0;
}


.division {
    text-align: right; 
    font-family:"Montserrat", sans-serif;
    font-size: 14px;
    padding: 10px; 
    color: black; 
}

.completed {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%; 
    background-color: #77e7c2;
    border: 1.5px solid #0f859c;
    border-radius: 8px;
    height: 11px;
    z-index: -1;
}

.assigned {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%; 
    background-color: #a7e7d3;
    border: 1.5px solid #0f859c;
    border-radius: 8px;
    height: 11px;
    margin: 0;
    z-index: -2;
}

.not-assigned {
    position: absolute;
    top: 0;
    left: 0;
    width:98.35%; 
    background-color: #c6eee1;
    border-radius: 8px;
    border: 1.5px solid #0f859c;
    height: 11px;
    margin: 0;
    z-index: -3;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer; 
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #4babbf;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -125px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.5s
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #4babbf transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}